<div class="articles-index">
  Blog Posts
</div>
<% @articles.each do |article| %>
  <% cache article do %>
    <div class="article-index">
      <div class="title-index">
        <% if article.pinned %>
          <%= fa_icon "star" %>
        <% end %>
        <% if article.hidden %>
          <%= fa_icon "eye-slash" %>
        <% end %>
        <%= link_to article.title, article_path(article.parameterized) %>
      </div>
      <div class="date-index">
        <%= article.published.strftime("%B %e, %Y") %>
      </div>
    </div>
  <% end %>
<% end %>
