<div class="articles-index">
  Blog Posts
</div>
<% @articles.each do |article| %>
  <% cache article do %>
    <div class="article-index">
      <div class="title-index">
        <%= pinned_icon article %>
        <%= hidden_icon article %>
        <%= link_to article.title, article_path(article.parameterized) %>
      </div>
      <div class="date-index">
        <%= article.published.strftime("%B %e, %Y") %>
      </div>
    </div>
  <% end %>
<% end %>
