.article-index {
  padding: 10px;
  width: calc(100% - 20px);
  border-bottom: 1px solid black;

  .title-index {
    a {
      color: black;

      &:hover {
        color: #666;
      }
    }
  }

  .date-index {
    margin-top: 5px;
    font-size: 10pt;
  }
}

.articles-index {
  padding: 10px;
  padding-top: 0px;
  width: calc(100% - 20px);
  border-bottom: 1px solid black;

  font-weight: bold;
}

.article-show {
  padding: 10px;
  padding-top: 0px;
  width: calc(100% - 20px);
  border-bottom: 1px solid black;

  .title-show {
    font-weight: bold;
    font-size: 16pt;
  }

  .date-show {
    margin-top: 5px;
    font-size: 10pt;
  }
}

.content-show {
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  font-size: 11pt;

  a {
    text-decoration: none;
    color: darken($blue, 20%) !important;

    &:hover {
      color: darken($blue, 10%) !important;
      text-decoration: underline;
    }
  }
}

.below-article {
  text-align: center;
  margin-bottom: 50px;
  font-size: 10pt;

  a {
    text-decoration: underline !important;
  }
}

.add-screenshots-container {
  display: none;
}

.screenshots-container {
  display: none;

  .screenshots {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    .screenshot {
      margin: 10px;

      .buttons {
        display: flex;
        justify-content: space-between;
      }

      .preview {
        max-width: 100px;
      }
    }
  }
}

.copy-link {
  position: absolute;
  top: -1000px;
  left: -1000px;
  tabindex: -1;
}
