<%= provide :article, @article.parameterized %>

<div class="article-show">
  <div class="title-show">
    <%= @article.title.titleize %>
  </div>
  <div class="date-show">
    <%= @article.published.strftime("%B %e, %Y") %>
  </div>
</div>

<div class="content-show">
  <%= @article.markdown.html_safe %>
</div>
