<div id="screenshots-container">
  <%= render "screenshots/empty", count: screenshots.count %> 

  <div id="screenshots">
    <% screenshots.each do |screenshot| %>
      <%= render "screenshots/link", screenshot: screenshot %> 
    <% end %>
  </div>
</div>
